page-home {
    .address-label {
        font-size: 13px;
    }

    .address {
        font-size: 19px;
    }

    .toolbar-title {
        display: flex;
        justify-content: space-between;
    }

    .title {
        padding: 0px;
    }

    .display-flex {
        display: flex;
    }
}
